<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <mapping class="br.com.cleiton.modelo.Paroquia"/>
  <mapping class="br.com.cleiton.modelo.Encontro"/>
  <mapping class="br.com.cleiton.modelo.Pessoa"/>
  <mapping class="br.com.cleiton.modelo.Equipe"/>
  <mapping class="br.com.cleiton.modelo.PapelNaEquipe"/>
  <mapping class="br.com.cleiton.modelo.sistema.Usuario"/>
  <mapping class="br.com.cleiton.modelo.sistema.Cidade"/>
  <mapping class="br.com.cleiton.modelo.sistema.Estado"/>
  <mapping class="br.com.cleiton.modelo.Participacao"/>
 </session-factory>
</hibernate-configuration>
